
<div class="row">

  {{range $key,$value:=.Posts}}
  <div class="4u 12u$(mobile)">
    <article class="item">
      <header>
      <b> {{$value.Date}} <br> {{$value.Title | unescape}}  </b> 
      </header>
      {{$value.SmallContentText | unescape }}
    </article>
  </div>
  {{end}}


  </div>

  <div class="row">
    <div class="4u 12u$(mobile)">
      <p><b><a href="/"> В начало </a></b></p>
    </div>

    <div class="4u 12u$(mobile)">
      <a href="/view/{{.Postright}}">Более ранние...</a>
    </div>
  </div>
