<div class="row">

  {{range $key,$value:=.Posts}}
  <div class="4u 12u$(mobile)">
    <article class="item">
      <header>
        <h3>{{$value.Title | unescape}} -    {{$value.Id}}</h3>
      </header>
      {{$value.ContentText | unescape }}
    </article>
  </div>
  {{end}}

  </div>

  <div class="row">
    <div class="4u 12u$(mobile)">
      <p><b><a href="/"> В начало </a></b></p>
    </div>
    <div class="4u 12u$(mobile)">
      <p><b><a href="/view/{{.Postleft}}"> <<< Более поздние...</a></b></p>
    </div>
    <div class="4u 12u$(mobile)">
      <p><b><a href="/view/{{.Postright}}">Более ранние... >>> </a></b></p>
    </div>
  </div>
